.practise_log {
float: right;
width: 500px;
height: 300px;
border: 1px solid black;
}

.pl_header {
text-size: 12pt;
font-weight: bold;
border-bottom: 1px solid black;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;

}
.pl_entry_area {
border: 1px solid black;
height: 65%;
margin: 10px;
}

.pl_entry_area p {
padding: 0;
margin: 0;
margin-right: 40px;
display: inline;
}

.pl_entry {
padding: 5px;
border-bottom: 1px solid #555;
}
.pl_footer {
padding: 10px;
border-bottom: 1px solid black;
}
