{% extends 'base.html' %}
{% block head %}
	<script src="{{url_for('static', filename='js/controls.js')}}"> </script>
	<script>

	$(document).ready(function() {
		$('#tempoBox :input').on('input', function(e) {
			tempo = $(this).val(); 
			$('#showTempo').text(tempo);
		});
	
	});

	</script>
{% endblock %}
{% block body %}
	{% for template in exercise_templates %}
		<div class="ex_template">
			<div class="tpl_id hidden">
				{{template.id}}	
			</div>
			<h3 class="tpl_desc">
				{{template.scale.note|note}}
				{{template.scale.scale_formula.name}}
				{{template.shape.name}}
			</h3>
			<div class="tpl_tempo">	
				{{template.tempo}}bpm
			</div>
			<div class="tpl_review">
				Review_required: O
			</div>
			<div class="tpl_exercises">
				<h4> Exercises </h4>
				{% for exercise in template.exercises%}
					<div class="exercise">
						<div class="ex_elem">
							{{exercise.length|timer}}
						</div>
						<div class="ex_elem">
							{{exercise.tempo}}bpm 
						</div>
						<div class="ex_elem">
							{{exercise.date|timedelta}}
						</div>
						<div class="ex_elem">
							{% if exercise.completed==True %}
							Completed
							{% else %}
							<a href="{{url_for('continueExercise', exercise_id=exercise.id)}}"> Resume </a>
							{% endif %}
						</div>
					</div>
				{%endfor %}
				<a href="{{url_for('makeExercise', template_id=template.id)}}">
					Play >>
				</a>
			</div>
		</div>

	{% endfor %}
	<div style="clear:both"></div>
	<h1> Create Exercise Template </h1>
	<form name="controls", method="POST">
		<fieldset>
			{{form.root.label}} {{form.root()}}
			{{form.accidental.label}} {{form.accidental()}}
			{{form.shape.label}} {{form.shape()}}
			{{form.scale.label}} {{form.scale()}}
			{{form.tempo.label}} {{form.tempo()}}
		  <button> Submit </button>
	</form>
{% endblock %}
