{% extends 'base.html' %}
{% block head %}
<script>
    var metronomeWorkerPath = "{{url_for('static', filename='js/metronomeworker.js')}}";
    {% if exercise_id %}
	    var exerciseID = {{exercise_id}};
    {% endif %}
</script>

<script src="{{url_for('static', filename='js/bufferLoader.js')}}"> </script>
<script src="{{url_for('static', filename='js/metronome.js')}}"> </script>
<script src="{{url_for('static', filename='js/rendering.js')}}"> </script>
<script src="{{url_for('static', filename='js/notes.js')}}"> </script>
<script src="{{url_for('static', filename='js/fretboard.js')}}"> </script>
<script src="{{url_for('static', filename='js/timer.js')}}"> </script>
<script src="{{url_for('static', filename='js/controls.js')}}"> </script>
<script>


var scale_container = null;


$(document).ready(function() {
	var canvas = document.getElementById('canvas');
	canvasWidth = canvas.width;
	canvasHeight = canvas.height;
	context = canvas.getContext('2d');


	fretboard = new Fretboard();
	fb_rend = new FretboardRenderer(fretboard);
	fb_rend.init();
	fb_rend.draw();
	scale_container= new NoteCollection(fb_rend);

	timer = new Timer({onUpdateStatus: updateTimer, onCounterEnd: finishTimer});

	$("[name=root]").change(processScaleForm);
	$("[name=scale]").change(processScaleForm);
	$("[name=shape]").change(processScaleForm);

	$('.play').click(togglePlay);
	$('.finish').click(function() {
	    $.post("/json/exercise/"+exerciseID, 
		    { updateLength: timer.get(),
		     completed: true}
	    );
	});


	$('#tempoBox :input').on('input', function(e) {
		tempo = $(this).val(); 
		$('#showTempo').text(tempo);
	});

	updateScaleFromForm("G", "major", "D");
	$.get("/json/exercise/"+exerciseID, function(data) {
		console.log(data);
		var shape_json = data.exercise_template.shape;
		var shape = new Shape({	name:shape_json.name, 
								baseString: shape_json.base_string, 
								allFretsAbove: shape_json.all_frets_above,
								allFretsBelow: shape_json.all_frets_below,
								singleFretsAbove: shape_json.single_frets_above,
								singleFretsBelow: shape_json.single_frets_below
								});
		var note = new Note(data.exercise_template.scale.note)
		var formula = new ScaleFormula(data.exercise_template.scale.scale_formula.name, data.exercise_template.scale.scale_formula.formula)
		updateScale(note, formula, shape)
		$("#exercise_data").text(note.note() + " " + formula.name + " " +  shape.name);
	});
	


});

	</script>
{% endblock %}
{% block body %}
<div id="exercise_id hidden"> {{id}} </div>
<canvas id="canvas" width=1500 height=200> </canvas>
<div class="timer">00:00</div>
<div id="exercise_data"> </div>
<div style="clear: both"></div>
	<div><a class="play" href="#">Play</a></div>
	<div><a class="finish" href="#">Finish</a></div>
{% endblock %}
