<!DOCTYLE HTML>
<html>
	<head>
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
	<script src="{{url_for('static', filename='js/jquery.js)'}}"> </script>
	<script src="{{url_for('static', filename='js/notes.js')}}"> </script>
	<script>

	var context = null;
	var canvasWidth = null;
	var canvasHeight = null;
	var timer = null;
	var tempo = 120.0;          // tempo (in beats per minute)
	var lookahead = 25.0;       // How frequently to call scheduling function 
	var noteLength = 0.05;
								//(in milliseconds)
	var scheduleAheadTime = 0.1;    // How far ahead to schedule audio (sec)
	var lastEvent = -1;
	var eventsInQueue = [];
	var nextTime = 0.0;
	var nextEvent = 0;
	var timeWorker = null;
	var isPlaying = false;
	var animDelay = 500;

	var scale_container = null;

	function drawLine(x1, y1, x2, y2){
		context.beginPath();
		context.moveTo(x1, y1);
		context.lineTo(x2, y2);
		context.stroke();
	};

	function drawCircle(x, y, radius) {
		context.beginPath();
		context.fillStyle = "white"
		context.arc(x, y, radius, 0, Math.PI*2);
		context.fill();
		context.stroke();
	};

	function FretNote(note, interval, fret, strng, x, y, radius ) {
		this.note = note;
		this.interval = interval;
		this.fret = fret;
		this.strng = strng;
		this.x = x;
		this.y = y;
		this.radius = radius;
	};

	function GuitarString(root, frets) {
		this.root = new Note(root);
		this.frets = frets;
		this.highest = this.root + new Interval(frets);

		this.at_fret = function(fret) {
			return this.root.add(new Interval(fret));
		}
	};

	function Shape(options) {
		this.name = options.name;
		this.baseString = options.baseString;
		this.strings = options.strings || 6;
		this.single_frets_above = options.singleFretsAbove || {};
		this.single_frets_below = options.singleFretsBelow || {};
		this.all_frets_above = options.allFretsAbove;
		this.all_frets_below = options.allFretsBelow;
		this.scale_adjustments = {
			minor: -2,
			pent_minor:-2 
			};
		this.getFretsAbove = function(strng) {
			return this.single_frets_above[strng] || this.all_frets_above
		}
		this.getFretsBelow = function(strng) {
			return this.single_frets_below[strng] || this.all_frets_below
		}

		this.makeShape = function(root, strings, scale) {
			var strng = strings[this.baseString];
			while (root.fullSemitones() - strng.root.fullSemitones() > 12) root = root.sub(new Interval("8"))
			while (root.fullSemitones() - strng.root.fullSemitones() < 0) root = root.add(new Interval("8"))
			var adj = 0;
			if ($.inArray(scale.formula.name,Object.keys(this.scale_adjustments))>-1)
				adj = this.scale_adjustments[scale.formula.name];
			this.base = root.fullSemitones() - strng.root.fullSemitones() + adj;
			this.min = [];
			this.max = [];
			var addOctave = false;
			for (var i=0; i<6; i++){
				this.min.push(this.base - this.getFretsBelow(i))
				this.max.push(this.base + this.getFretsAbove(i))
				if (this.min.slice(-1) < 0)
					addOctave = true;
			}
			if (addOctave){
				for (var i=0; i<6; i++){
					this.min[i] += 12;
					this.max[i] += 12;
				}
			}
			this.size = this.max - this.min;
			this.cur_string = 0;
			this.cur_fret = this.min[this.cur_string];
			this.finished = false;
		}
		this.getNext = function() {
			var strng = this.cur_string;
			var fret = this.cur_fret;
			var finished = this.finished;

			if (this.cur_fret < this.max[this.cur_string]) this.cur_fret++;
			else if (this.cur_string < 5) {
				this.cur_string++;
				this.cur_fret = this.min[this.cur_string];
			}
			else
				this.finished = true;
			if (finished)
				return false;
			else
				return [fret, strng]
		}
	}

	function Fretboard() {
		this.fret_count = 21;
		this.strings = ["E2", "A2", "D3", "G4", "B4", "E5"].map(function(a) { return new GuitarString(a, this.fret_count) });

		this.getScale = function(scale, shape) {
			var fretNotes = [];
			var root = scale.root;
			shape.makeShape(root, this.strings, scale)
			var intervals = scale.formula.intervals;
			while (pos = shape.getNext()) {
				var fret = pos[0];
				var strng = pos[1];
				var cursor_note = this.strings[strng].at_fret(fret);

				for(var i=0; i<intervals.length; i++) {
				var scale_note = root.add(intervals[i]);
				if (cursor_note.semitones() == scale_note.semitones()) {
					var position = this.renderer.getPos(strng, fret);
					var x = position[0];
					var y = position[1];
					var radius = this.renderer.calcNoteSize(fret);
					fretNotes.push(new FretNote(cursor_note, intervals[i], fret, strng, x, y, radius));
					}
				}
			}
			return fretNotes;
		}
	}

	function FretboardRenderer(fretboard) {
		this.fretboard = fretboard;
		this.fretboard.renderer = this;

		this.fret_count = this.fretboard.fret_count;
		this.string_count = this.fretboard.strings.length;

		this.left = 100;
		this.top = 30;
		this.width = 1300;
		this.height = 150;
		this.right = this.left + this.width;
		this.bottom = this.top + this.height;

		this.padding_top = 20;
		this.padding_bottom = 20;
		this.padding_left = 20;
		this.padding_right = 20;

		this.frets_overhang = 3;

		this.strings_top = this.top+this.padding_top;
		this.strings_left = this.left + this.padding_left;
		this.strings_right = this.right - this.padding_right;
		this.strings_bottom = this.bottom - this.padding_bottom;
		this.strings_length = this.strings_right - this.strings_left;
		this.strings_height = this.strings_bottom - this.strings_top;
		this.strings_spacer = this.strings_height/(this.string_count-1)

		this.frets_top = this.strings_top - this.frets_overhang;
		this.frets_bottom = this.strings_bottom + this.frets_overhang;

		this.frets_open_position = -15;

		this.frets_open_width = 90;

		this.finger_min_margin = 2; //Gap between adjacent dots
		this.finger_max_size = this.strings_spacer/2 - this.finger_min_margin;
		this.finger_start_radius = 20; //Percentages of fret width
		this.finger_end_radius =  40;

		this.single_inlay_frets = [3, 5, 7, 9, 15, 17, 19];
		this.double_inlay_frets = [12, 24];
		this.inlay_radius = 5;

		this.init = function(){
			//Fret positions & Finger positions
			var frets = this.fret_count;
			var scale_length = this.strings_length * Math.pow(2, frets/12) / (Math.pow(2, frets/12) - 1);
			this.fret_position = [0];
			this.finger_position = [this.frets_open_position];
			this.inlay_position = [0];
			this.fret_width = [this.frets_open_width];
			for (i=1; i<frets; i++){
				this.fret_position[i] = scale_length - (scale_length / Math.pow(2, i/12));
				this.fret_position[i] = Math.round(this.fret_position[i]);
				var curFret = this.fret_position[i];
				var prevFret = this.fret_position[i-1];
				var fretWidth = curFret - prevFret;
				this.fret_width[i] = fretWidth;
				var fretCenter = prevFret + fretWidth/2;
				this.finger_position[i] = fretCenter;
				this.inlay_position[i] = fretCenter;
			}
			//String Positions
			this.string_position = []
			for (var i=0; i<this.string_count; i++) {
				this.string_position[i] = this.strings_spacer*i;
			}
		};

		this.drawFrets = function(){
			for (var i=0; i<this.fret_position.length; i++) {
				var x = this.fret_position[i] + this.strings_left;
				drawLine(x, this.frets_top, x, this.frets_bottom);
			}
		};

		this.drawStrings = function() {
			for (var i=0; i<this.string_count; i++) {
				var y = this.string_position[i] + this.strings_top;
				drawLine(this.strings_left, y, this.strings_right, y);
			}
		};

		this.drawSingleInlay = function(i) {
			x = this.strings_left + this.inlay_position[i];
			y = this.strings_top + this.strings_height/2;
			drawCircle(x, y, this.inlay_radius);
		}
		this.drawDoubleInlay = function(i) {
			x = this.strings_left + this.inlay_position[i];
			y1 = this.strings_top + this.strings_height/3;
			y2 = this.strings_top + (this.strings_height/3)*2;
			drawCircle(x, y1, this.inlay_radius);
			drawCircle(x, y2, this.inlay_radius);
		}
		this.drawInlays = function() {
			for (i=0; i<this.fret_count; i++) {
				if (i in this.single_inlay_frets)
					this.drawSingleInlay(this.single_inlay_frets[i])
				if (i in this.double_inlay_frets)
					this.drawDoubleInlay(this.double_inlay_frets[i])
			}
		}
		this.draw = function() {
			context.clearRect(0, 0, canvasWidth, canvasHeight);
			this.drawInlays();
			this.drawFrets();
			this.drawStrings();
		}


		this.calcNoteSize = function(fret_no) {
			var width = this.fret_width[fret_no]/2;
			var min_percent = this.finger_start_radius;
			var max_percent = this.finger_end_radius;
			var percent_difference = (max_percent - min_percent)/this.fret_count;
			var current_percent = min_percent  + percent_difference * i;

			var radius = (width/100)*current_percent;
			if (radius > this.finger_max_size) radius =  this.finger_max_size;
			return radius;
		};

		this.getPos = function(string_no, fret_no) {
			string_no = this.string_count -1 - string_no
			return [this.finger_position[fret_no] + this.strings_left, this.string_position[string_no] + this.strings_top]
		}

	}


function play() {
    isPlaying = !isPlaying;

    if (isPlaying) { // start playing
        nextEvent = 0;
		scale_container.reset();
        nextTime = audioContext.currentTime;
        timerWorker.postMessage("start");
		timer.start();
        return "Stop";
    } else {
        timerWorker.postMessage("stop");
		timer.stop();
        return "Play";
    }
}

function scheduler() {
    while (nextTime < audioContext.currentTime + scheduleAheadTime ) {
		eventsInQueue.push( { note: nextEvent, time: nextTime } );
		var osc = audioContext.createOscillator();
		osc.connect( audioContext.destination );
		osc.frequency.value = 880.0;
		osc.start( nextTime );
		osc.stop( nextTime + noteLength );

		var secondsPerBeat = 60.0 / tempo;    // current tempo
		nextTime += 1 * secondsPerBeat;    
		nextEvent++;
    }
}

function draw() {
    var currentEvent = lastEvent;
    var currentTime = audioContext.currentTime;

    while (eventsInQueue.length && eventsInQueue[0].time < currentTime) {
        currentEvent = eventsInQueue[0].note;
        eventsInQueue.splice(0,1);   
    }
    // We only need to draw if the note has moved.
    if (lastEvent != currentEvent) {
		scale_container.animate_next();
        lastEvent = currentEvent;
    }

    requestAnimFrame(draw);
}


function hexCounter(value) {
	value = Math.floor(255*value);
	str = value.toString(16)
	return "#"+str+str+str;
}

function animateNote(duration, note) {
	var start = new Date().getTime();
	var end = start + duration;
	var step = function() {
		var timestamp = new Date().getTime();
		var progress = Math.min((duration - (end - timestamp)) / duration, 1)

		if (progress < 0.64) 
			var c_val = Math.round(Math.cos(progress*Math.PI*0.6)*100)/100;
		else
			var c_val = 1-Math.round(Math.cos(progress*Math.PI/2)*100)/100;


		var fs = hexCounter(c_val);

		context.fillStyle = "#fff";
		context.beginPath();
		context.arc(note.x, note.y, note.radius+1, 0, Math.PI*2);
		context.closePath();
		context.fill();

		var rad = note.radius;
		context.beginPath();
		context.fillStyle = fs;
		context.arc(note.x, note.y, rad, 0, Math.PI*2);
		context.closePath();
		context.fill();

		context.beginPath();
		context.arc(note.x, note.y, rad, 0, Math.PI*2);
		context.closePath();
		context.stroke();

		if (progress < 1) {
			requestAnimationFrame(step);
		}
	}
	step();
}

function NoteCollection(fretboard_renderer) {
	this.index = 0;
	this.dir = 1;
	this.renderer = fretboard_renderer;
	this.animate_next = function() {
		animateNote(1000, this.notes[this.index]);
		this.index = (this.index+this.dir)%this.notes.length;
		if (this.index == this.notes.length-1) this.dir = -this.dir;
		if (this.index == 0 && this.dir ==-1) this.dir = -this.dir; }

	this.draw = function(){
		for(i=0; i<this.notes.length; i++) {
			var note = this.notes[i];
			drawCircle(note.x, note.y, note.radius);
		}
	}
	this.getRoots = function() {
		var roots = []
		for (var i=0; i<this.notes.length; i++){
			if (this.notes[i].interval.degree == "1")
				roots.push(this.notes[i]);
		}
		return roots;
	}
	this.setScale = function(notes) {
		this.notes = notes;
		this.reset();
		this.renderer.draw();
		this.draw();
	}
	this.reset = function() {
		this.index = this.notes.indexOf(this.getRoots()[0]);
		this.dir = 1;
	}
}
	function updateScale(note, scale, shape) {
		note = new Note(note+2)
		var formula = {
			"major":  new ScaleFormula("major", "1 2 3 4 5 6 7"),
			"minor":  new ScaleFormula("minor", "1 2 b3 4 5 b6 b7"),
			"pent_major":  new ScaleFormula("pent_major", "1 2 3 5 6"),
			"pent_minor":  new ScaleFormula("pent_minor", "1 b3 4 5 b7")
			}[scale];
		var shape = {
			"C": new Shape({name:"C", baseString:1, allFretsAbove:0, allFretsBelow:3}),
			"A": new Shape({name:"A", baseString:1, allFretsAbove:3, allFretsBelow:1}),
			"G": new Shape({name:"G", baseString:0, allFretsAbove:0, allFretsBelow:3}),
			"E": new Shape({name:"E", baseString:0, allFretsAbove:2, allFretsBelow:1}),
			"D": new Shape({name:"D", baseString:2, allFretsAbove:3, allFretsBelow:1})
		}[shape]
		var scale = new Scale(note, formula);
		var notes = fretboard.getScale(scale, shape);
		scale_container.setScale(notes);
	}
	function processScaleForm(form) {
		var form = $(this).parent();
		var root = form.find("[name=root]").val();
		var scale = form.find("[name=scale]").val();
		var shape = form.find("[name=shape]").val();
		updateScale(root, scale, shape);

	}

	function togglePlay(button) {
		$(this).text(play())
	}

	function Timer(options) {
	  var timer,
	  instance = this,
	  updateStatus = options.onUpdateStatus || function () {},
	  counterEnd = options.onCounterEnd || function () {};

	  function incrementCounter() {
		updateStatus(seconds);
		seconds++;
	  }

	  this.start = function () {
		clearInterval(timer);
		timer = 0;
		seconds = 0;
		timer = setInterval(incrementCounter, 1000);
	  };

	  this.stop = function () {
		clearInterval(timer);
		counterEnd(seconds);
	  };
	};

	function pad(n, width, z) {
		z = z || '0';
		n = n + '';
		return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
	}
 
	function updateTimer(seconds){
		var minutes = pad(Math.floor(seconds/60),2);
		var seconds = pad(seconds%60, 2);
		$('.timer').text(String(minutes) + ":" + String(seconds));
	}

	timer = new Timer({onUpdateStatus: updateTimer, onCounterEnd: finishTimer});
	function finishTimer(seconds) {
		var form = $(controls).parent();
		var root = form.find("[name=root]").val();
		var scale = form.find("[name=scale]").val();
		var shape = form.find("[name=shape]").val();
		addPractiseLogEntry(root, scale, shape, seconds, tempo);
	}

	function addPractiseLogEntry(root, scale, shape, seconds, tempo) {
		var min_secs = parseInt($(".pl_footer :input").val());
		if (seconds >= min_secs) {
			var elem = $("<div></div>").addClass('pl_entry');
			elem.append($("<p></p>").text(root + " " +scale));
			elem.append($("<p></p>").text(shape+" Shape"));
			elem.append($("<p></p>").text(tempo+"BPM"));

			var minutes = pad(Math.floor(seconds/60),2);
			var seconds = pad(seconds%60, 2);
			var time = String(minutes) + ":" + String(seconds);
			elem.append($("<p></p>").text(time));
			$('.pl_entry_area').prepend(elem);
		}
	}

	$(document).ready(function() {
		var canvas = document.getElementById('canvas');
		canvasWidth = canvas.width;
		canvasHeight = canvas.height;
		context = canvas.getContext('2d');

		context.font = '40pt Calibri';
		context.fillStyle = 'blue';
		//context.fillText('Hello World!', 50, 100);
		window.requestAnimFrame = (function(){
		  return  window.requestAnimationFrame       ||
				  window.webkitRequestAnimationFrame ||
				  window.mozRequestAnimationFrame    ||
				  function( callback ){
					window.setTimeout(callback, 1000 / 60);
				  };
		})();
		audioContext = new AudioContext();

		timerWorker = new Worker("{{url_for('static', filename='js/metronomeworker.js')}}");

		timerWorker.onmessage = function(e) {
			if (e.data == "tick") {
				// console.log("tick!");
				scheduler();
			}
			else
				console.log("message: " + e.data);
		};
		timerWorker.postMessage({"interval":lookahead});
		requestAnimFrame(draw);    // start the drawing loop.

		fretboard = new Fretboard();
		fb_rend = new FretboardRenderer(fretboard);
		fb_rend.init();
		fb_rend.draw();
		scale_container= new NoteCollection(fb_rend);

		timer = new Timer({onUpdateStatus: updateTimer, onCounterEnd: finishTimer});

		$("[name=root]").change(processScaleForm);
		$("[name=scale]").change(processScaleForm);
		$("[name=shape]").change(processScaleForm);

		$('.play').click(togglePlay);

		$('#tempoBox :input').on('input', function(e) {
			tempo = $(this).val(); 
			$('#showTempo').text(tempo);
		});

		updateScale("G", "major", "D");

		//var scale = new Scale(new Note("A2"), new ScaleFormula("1 b3 b5 bb7"));
		requestAnimationFrame(draw);
	});

	</script>
	</head>
	<body>
		<canvas id="canvas" width=1500 height=200> </canvas>
		<div class="practise_log"> 
			<div class="pl_header"> Practise Log </div>
			<div class="pl_entry_area"> 
			</div>
			<div class="pl_footer">Log sessions longer than <input type="number" value="10" min="5" name="plog_secs"> seconds</div>
		</div>
		<div class="timer">00:00</div>
		<div style="clear: both"></div>
		<form name="controls">
			<fieldset>
				<select name="root">
					<option value="C"> C </option>
					<option value="C#"> C# </option>
					<option value="D"> D </option>
					<option value="D#"> D# </option>
					<option value="E"> E </option>
					<option value="F"> F </option>
					<option value="F#"> F# </option>
					<option value="G"> G </option>
					<option value="G#"> G# </option>
					<option value="A"> A </option>
					<option value="A#"> A# </option>
					<option value="B"> B </option>
				</select>
				<select name="scale">
					<option value="major"> Major </option>
					<option value="minor"> Minor </option>
					<option value="pent_major"> Major Pentatonic </option>
					<option value="pent_minor"> Minor Pentatonic </option>
				</select>
				<select name="shape"> 
					<option value="C"> C Shape </option>
					<option value="A"> A Shape </option>
					<option value="G"> G Shape </option>
					<option value="E"> E Shape </option>
					<option value="D"> D Shape </option>
				</select>
			</fieldset>
			<fieldset>
				  <div id="tempoBox">Tempo: <span id="showTempo">120</span>BPM <input id="tempo" type="range" min="30.0" max="160.0" step="1" value="120" style="height: 20px; width: 200px" ></div>
				<div><a class="play" href="#">Play</a></div>
			</fieldset>
		</form>
	</body>
</html>
